<md-dialog aria-label="Información Conductores" class="formulario_vermas">
  <div layout="column">
  <md-content >
  <h3>DATOS PERSONALES</h3>
     <md-divider ></md-divider>
   <img ng-src="{{seleccion.foto}}" id="avatar" class="img-circle" alt="Foto">
   <md-divider ></md-divider>
  <table class="table table-bordered">
    <thead>
    </thead>
    <tbody>
        <tr >
            <td class="active">ID</td>
            <td class="info">{{ seleccion._id }}</td>
        </tr>
        <tr>
            <td class="active">NOMBRE COMPLETO</td>
            <td class="info">{{seleccion.primer_nombre}} {{ seleccion.segundo_nombre}} {{seleccion.primer_apellido}} {{ seleccion.segundo_apellido}}</td>
        </tr>
        <tr>
            <td class="active"> FECHA NACIMIENTO</td>
            <td class="info">{{seleccion.f_nacimiento |  date : format : shortDate}}</td>
        </tr>
        <tr >
            <td class="active">TIPO DE SANGRE (RH)</td>
            <td class="info">{{seleccion.rh }}</td>
        </tr>
        <tr >
            <td class="active">TELEFONO</td>
            <td class="info">{{seleccion.telefono}} </td>
        </tr>
        <tr>
            <td class="active">CELULAR</td>
            <td class="info">{{seleccion.celular}} </td>
        </tr>
        <tr>
            <td class="active">N° LICENCIA</td>
            <td class="info">{{seleccion.numero_licencia}}</td>
        </tr>
        <tr>
            <td class="active">F. EXPEDICIÓN LICENCIA</td>
            <td class="info"> {{seleccion.f_expedicion_doc |  date : format : shortDate}} </td>
        </tr>
        <tr>
            <td class="active">F. VENCIMIENTO LICENCIA</td>
            <td class="info"> {{seleccion.f_vencimiento_doc |  date : format : shortDate}} </td>
        </tr>
        <tr>
            <td class="active"> ORGANISMO EXPEDIDOR </td>
            <td class="info"> {{seleccion.organismo_expedidor}} </td>
        </tr>
    </tbody>
</table>   
  </md-content>
</div>
<div class="md-actions" layout="row">
  <span flex></span>
  <md-button ng-click="respuesta (user)" class="md-primary"> Cerrar </md-button>
  </div>
</md-dialog>


