<ion-view>
 <ion-header-bar class="bar-stable  bar-positive">
      <h1 class="title">Rutas Escolares</h1>
    </ion-header-bar>
  <ion-content>
  <!--- ng-init="ValidarToken()" -->
    <form ng-submit="Login(DatosLogin)" class="FormLogin" >
    <div class="list list-inset">
    <label class="item item-input item-floating-label">
       <span class="input-label">Usuario</span>
        <input type="text" placeholder="Usuario" ng-model="DatosLogin._id">
        </label>
      <label class="item item-input item-floating-label">
          <span class="input-label">Contraseña</span>
          <input type="password" placeholder="Contraseña" ng-model="DatosLogin.clave">
        </label>
  <label class="item">
        <button class="button button-block button-positive" type="submit">Entrar</button>
   </label>
      </div>
    </form> 
  </ion-content>
</ion-view>
