<ion-view view-title="Acerca de">
  <ion-content>
    <div class="list card">

  <div class="item item-avatar">
    <img src="img/icon.jpg">
    <h2>Rutas Escolares</h2>
    <p>Permite el monitoreo en tiempo real de los niños en las  <br>
     rutas escolares, mostrando su ubicación en cada segundo  <br>
     del recorrido y recibiendo notificaciones en el transcurso de este.</p>
  </div>
</div>
  <div class="list">
    <a class="item item-thumbnail-left" href="">
      <img src="http://130.211.180.114/images/avatar.jpg">
      <h2>Jorge Antonio Sierra Jimenez</h2>
      <p>Ingeniero de Sistemas</p>
    </a>
    <a class="item item-thumbnail-left" href="">
      <img src="http://130.211.180.114/images/avatar.jpg">
      <h2>Cristian León Mejía</h2>
      <p>Ingeniero de Sistemas</p>
    </a>
</div>

  </ion-content>
</ion-view>
