<ion-view view-title="Ajustes">
  <ion-content>
  <div class="list">
  <div class="item item-divider">
    Coordenadas Hogar
  </div>
  <a class="item" href="#">
    <button ng-click="EstablecerCoordenas()" class="button icon-left ion-android-locate">Establecer</button>
  </a>
  <div class="item item-divider">
    Configurar Notificaciones
  </div>
  <a class="item" href="#">
    <button ng-click="RegistrarToken()" class="button icon-left ion-loop">Nuevo Token</button>
  </a>
  <a class="item" href="#">
    <button ng-click="ProbarNotificacion()" class="button icon-left ion-android-notifications">Probar</button>
  </a>
<a class="item" href="#">
    <button ng-click="EliminarToken()" class="button icon-left ion-trash-a">Eliminar Token</button>
  </a>
</div>
   </ion-content>
</ion-view>
